/* styles.css */
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100%;
    background-color: #333;
    margin: 0;
}

.grid {
    display: grid;
    width: auto;
    height: 100%;
    grid-template-columns: repeat(6, 48px);
    grid-template-rows: repeat(6, 48px);
    gap: 5px;
    position: relative;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(6, 100px);
        grid-template-rows: repeat(6, 100px);
    }
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    position: absolute;
}

.block:hover {
    cursor: pointer;
    opacity: 0.8;
}

.block:active {
    opacity: 0.5;
}

.block.red {
    background-color: #f44336;
}

.block.green {
    background-color: #4caf50;
}

.block.key {
    background-color: #ffeb3b;
}
