body {
    margin: 0;

    background-color: #f6f6f6;
}

nav {
    height: 100px;
    background-color: #292929;
}

/* ОБЩИЕ НАСТРОЙКИ */


.logo {
    position: relative;
    top: 15px;
    left: 15px;
}

a.quest_rooms {
    color: #f6f6f6;
    text-transform: uppercase;
    text-decoration: none;
}

/* ШАПКА */

h1 {
    text-align: center;
}